<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Task</title>
</head>
<body>
	<form action="" method="post">
		Id : <input type="text" name="taskId" id="txtId"><br/>
		Name :<input type="text" name="taskName" id="txtName"><br/>
		<input type="submit" value="Save">
	</form>
</body>
</html>